:root {
    --bg-main: hsl(233, 47%, 7%);
    --bg-card: hsl(244, 38%, 16%);
    --clr-violet-1: hsla(277, 69%, 40%, 0.5);
    --clr-violet-2: hsl(277, 64%, 61%);

    --clr-heading: hsl(0, 0%, 100%);
    --clr-paragraph: hsla(0, 0%, 100%, 0.75);
    --clr-stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
p,
div,
a {
    font-size: 0.9375rem;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

body {
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
}
.card {
    width: 940px;
    max-width: 90%;

    display: grid;
    grid-template-columns: 52% 48%;
    background-color: var(--bg-card);
    border-radius: 10px;
}
.card-body {
    padding: 4rem;
}
.card-title {
    color: var(--clr-heading);
    margin-bottom: 1.5rem;
}
.card-title-violet {
    color: var(--clr-violet-2);
}
.card-text {
    color: var(--clr-stat-heading);
    margin-bottom: 3.5rem;
    line-height: 1.7;
    font-weight: 300;
    /* font-family: "Lexend Deca", sans-serif; */
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.stat-num {
    font-weight: 700;
    color: var(--clr-heading);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.stat-text {
    color: var(--clr-stat-heading);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.card-image {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: var(--clr-violet-1);
    border-radius: 0 10px 10px 0;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    /* filter: brightness(50%) !important; */
}
/* Images */
.mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .card {
        grid-template-columns: 1fr;
        width: 540px;
    }
    .card-body {
        order: 1;
        padding: 2rem;
        text-align: center;
    }
    .card-text {
        margin-bottom: 2rem;
    }
    .overlay,
    .card-image img {
        border-radius: 10px 10px 0 0;
    }
}
@media only screen and (max-width: 600px) {
    .stats {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
